<div class="container-fluid">
  <nav class="navbar navbar-default alert-info">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/todo/">
        <h4>ToDo</h4>
        <!-- <img alt="ToDo" src=""> -->
      </a>
    </div>
  </div>
</nav>

<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3  class="panel-title ">{{title}} <span class="badge">{{priority}}</span></h3>
  </div>
  <div class="panel-body ">
    {{description}}
  </div>
  <div class="panel-footer">{{date}}</div>
</div>
<form action="/todo/{{id}}?_method=DELETE" method="post">
  <a href="/todo/{{id}}/edit" type="button" class="btn btn-default btn-primary">
    Edit todo
  </a>
  <button type="submit" id="complete" class="btn btn-default btn-primary">
    Complete
  </button>
</form>

</div>

</div>
